<div class="col-md-6">
    <div class="row image-container">
      <form *ngIf="uploadImageForm" [formGroup]="uploadImageForm" (ngSubmit)="uploadImage()">
        
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input 
            #imageFileInput
            type="file" 
            name="file" 
            class="form-control" 
            id="image" 
            (change)="onImageFileChange($event)"
          />
        </div>
  
        <div class="mb-3">
          <label for="imageName" class="form-label">ImageName</label>
          <input 
            type="text" 
            class="form-control" 
            id="imageName" 
            formControlName="imageName" 
            placeholder="Enter image name"
          />
        </div>
  
        <div class="mb-3">
          <label>
            <input type="checkbox" formControlName="visiblePublicly" />
            Is visible publicly
          </label>
        </div>
  
        <div class="mb-3">
          <label>
            <input type="checkbox" formControlName="canBeExchanged" />
            Can be exchanged
          </label>
        </div>
  
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Upload image</button>
        </div>
      </form>
  
      <div *ngIf="uploadedImageUrl">
        <img [src]="uploadedImageUrl" width="300" height="300" alt="Uploaded Image">
      </div>
    </div>
  </div>
  