<h1 mat-dialog-title>Upload Image</h1>
<div mat-dialog-content>
  <form [formGroup]="uploadImageForm" (ngSubmit)="uploadImage()">
    <div cdkDropList (cdkDropListDropped)="onImageDrop($event)" class="upload-drop-zone"
      [ngClass]="{'drag-hover': isDragOver}" (cdkDragEnter)="isDragOver = true" (cdkDragExit)="isDragOver = false">

      <input #imageFileInput type="file" name="file" class="form-control hidden-file-input"
        (change)="onImageFileChange($event)" (click)="$event.stopPropagation()" />

      <div *ngIf="!uploadedImageUrl" class="placeholder" (click)="imageFileInput.click()">
        Drag and drop an image or click to select a file
      </div>

      <img *ngIf="uploadedImageUrl" [src]="uploadedImageUrl" alt="Uploaded Image" class="preview-image" />
    </div>

    <div class="form-fields mt-4">
      <mat-form-field appearance="fill">
        <mat-label>Image Name</mat-label>
        <input matInput type="text" id="imageName" formControlName="imageName" placeholder="Enter image name" />
      </mat-form-field>

      <div class="checkbox-group">
        <mat-checkbox formControlName="visiblePublicly">Is visible publicly</mat-checkbox>
        <mat-checkbox formControlName="canBeExchanged">Can be exchanged</mat-checkbox>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="uploadImage()">Upload Image</button>
</div>