<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" [(selectedIndex)]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="All images">
        <ng-template matTabContent>
            <app-image-list></app-image-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="My images">
        <ng-template matTabContent>
            <app-my-images></app-my-images>
        </ng-template>
    </mat-tab>
    <mat-tab label="My exchange requests">
        <ng-template matTabContent>
            <app-my-exchanges></app-my-exchanges>
        </ng-template>
    </mat-tab>
</mat-tab-group>