<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography" id="dialog-content">
  <div class="row">
    <div class="col-6">
      <img mat-card-image [src]="uploadedImageUrl" alt="{{ data.data?.imageName }}" width="300">
    </div>
    <div class="col-6">
      <ng-container *ngIf="imageToExchangeUrl == undefined">
        <app-my-images (imageSelected)="onImageSelected($event)"></app-my-images>
      </ng-container>
      <ng-container *ngIf="imageToExchangeUrl != undefined">
        <img mat-card-image [src]="imageToExchangeUrl" alt="{{ data.data }}" width="300">
        <button mat-button (click)="selectImage()">Select Image</button>
      </ng-container>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="requestExchange()" cdkFocusInitial>Exchange</button>
</mat-dialog-actions>